body {
  background-color:rgb(138 108 151);
  display: grid;
  justify-content: center;
  margin: 0;
}

.galeria {
  column-count: 4;
  column-gap: 15px;
  max-width: 1100px;
  margin: 50px 0px;
}

img {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.185);
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0px;
  opacity: 0;
}

.scrollItem {
  opacity: 1;
}

.modal {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}
.modal.ativo {
  display: block;
  animation: fade .7s ease-out;
}
.modal img{
  width: 100%;
  height: 100%;
  cursor: default;
  border-radius: 5px;
  border: none;
}

.filter {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.925);
  position: fixed;
  z-index: 1;
  display: none;
}
.filter.ativo {
  display: block;
}
.fecharModal {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  animation: fade .7s .4s linear forwards;
  opacity: 0;
  transition: .5s;
}
.prev {
  position: absolute;
  top: 50%;
  left: 150px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  animation: fade .7s .4s linear forwards;
  opacity: 0;
  transition: .5s;
}
.prev::before,
.prev::after {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: block;
}.next {
  position: absolute;
  top: 50%;
  right: 150px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  animation: fade .7s .4s linear forwards;
  opacity: 0;
  transition: .5s;
}
.next::before,
.next::after {
  content: "";
  width: 40px;
  height: 8px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: block;
}

.fecharModal::before,
.fecharModal::after {
  content: "";
  width: 35px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  display: block;
}

.fecharModal::after {
  transform: rotate(45deg);
  top: -4px;
  position: relative;
}
.prev::after {
  transform: rotate(45deg);
  top: 17px;
  position: relative;
}
.prev::before {
  transform: rotate(-45deg);
}.next::after {
  transform: rotate(-45deg);
  top: 17px;
  position: relative;
}
.next::before {
  transform: rotate(45deg);
}
.fecharModal::before {
  transform: rotate(-45deg);
}

:is(.fecharModal, .next, .prev):hover {
 transform: scale(1.1);
}

.preload {
  position: fixed;
  background-color: rgb(138 108 151);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.circle1 {
  border-radius: 50%;
  border: 10px solid rgba(128, 128, 128, 0);
  border-top: 10px solid rgb(6, 65, 88);
  border-left: 10px solid rgb(6, 65, 88);
  border-bottom: 10px solid rgb(0, 0, 0);
  width: 150px;
  height: 150px;
  animation: rotate1 1s linear infinite;
}

.circle2 {
  border-radius: 50%;
  border: 10px solid rgba(128, 128, 128, 0);
  border-top: 10px solid rgba(0, 0, 0, 0.9);
  border-left: 10px solid rgba(6, 65, 88, 0.9);
  width: 100px;
  height: 100px;
  margin: 15px 0px 0px 15px;
  animation: rotate1 1.5s ease infinite;
}

.marca {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  color:rgb(87, 218, 230);
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
h1{
  text-align: center;
  color:rgb(185, 213, 216);
  font-family: sans-serif;
  margin-top: 50px;
}
@keyframes scale {
  100%{
    transform: scale(1.2);
  }
}
span {
  color: rgba(1, 80, 87, 0.9);
}


@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  100% {
    transform: rotate(-720deg);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
    margin-top: -10px;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width:600px) {
  .galeria{
    column-count: 2;
    margin: 10px;
  }
  .prev{
    left: 20px;
  }
  .next{
    right: 20px;
  }
}